# Tutorial - Datenanalyse mit Pandas/Seaborn

## Herzlich Willkommen! 
<b>Du lernst heute Programmieren ü§ìüëç</b> <br>
<br>
<br>
Genauer gesagt: <br>
Du lernst <br>
1. Daten einlesen üëÄ
2. Daten zu manipulieren 
3. Daten zu plotten bzw. grafisch darzustellen üìàüìä

<br>
Dazu gibt es verschiedene Pakete, die dir helfen, doch bevor es los geht: noch ein paar wichtige Vorbereitungen! <br>
<br>
Um die Pakete Pandas und Seaborn nutzen zu k√∂nnen musst du dir einen Kernel bauen, doch wie geht das? üßê <br>

- √ñffne ein Terminal und aktiviere Conda. Gib ein: `conda activate`
- Erstelle dir eine neue Conda environment `conda create --name datenanalyse`
- Aktiviere die neu erstellte Conda environment `conda activate datenanalyse`
- Installiere die folgenden Packages mit dem Befehl `conda activate PACKAGENAME`: <br>
    Ersetze dabei PACKAGENAME  durch:
    1. Pandas
    2. Seaborn
    3. Ipython
- F√ºge die erstelle Conda environment dem Jupyter-Notebook Kernel hinzu `python -m ipykernel install --user --name datenanalyse --display-name "datenanalyse"`

In [1]:
import pandas as pd

In [7]:
broken_df = pd.read_csv('/homes/ckilian/Arbeit/Jupyter_pandas_tutorial/exportCSV/Krebsdaten.csv', sep=';')

In [8]:
broken_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,weiblich,m√§nnlich,Unnamed: 5
0,0 - 4,1999,Krebs gesamt (C00-C97 ohne C44),"2,2","3,2",NaN
1,0 - 4,2000,Krebs gesamt (C00-C97 ohne C44),"2,3","3,0",NaN
2,0 - 4,2001,Krebs gesamt (C00-C97 ohne C44),"2,9","3,3",NaN
3,0 - 4,2002,Krebs gesamt (C00-C97 ohne C44),"3,1","2,0",NaN
4,0 - 4,2003,Krebs gesamt (C00-C97 ohne C44),"2,5","2,6",NaN
...,...,...,...,...,...,...
373,85+,2015,Krebs gesamt (C00-C97 ohne C44),"1.518,2","2.688,0",NaN
374,85+,2016,Krebs gesamt (C00-C97 ohne C44),"1.547,8","2.745,0",NaN
375,85+,2017,Krebs gesamt (C00-C97 ohne C44),"1.490,4","2.614,3",NaN
376,85+,2018,Krebs gesamt (C00-C97 ohne C44),"1.503,2","2.614,8",NaN
377,85+,2019,Krebs gesamt (C00-C97 ohne C44),"1.488,7","2.596,1",NaN